.clearfix:after, .channel-browser .channel-list .channel-video-list.grid-layout:after {
  content: "";
  display: table;
  clear: both; }

body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px; }

header {
  padding: 1em; }
  header h1 {
    display: inline-block;
    margin: 0; }

.channel-browser .channel-container {
  width: 85%;
  margin: 1em auto 0 auto; }
  .channel-browser .channel-container:first-child {
    margin-top: 0; }
.channel-browser .channel-info .channel-logo img {
  display: block;
  max-width: 100%;
  margin: 0 auto; }
.channel-browser .channel-info .channel-title {
  margin: 0;
  padding: 1em 0.5em; }
.channel-browser .channel-list {
  padding: 0 0.5em; }
  .channel-browser .channel-list .channel-list-title {
    margin: 1em 0; }
  .channel-browser .channel-list .channel-video-list {
    list-style: none;
    padding: 0; }
    .channel-browser .channel-list .channel-video-list.grid-layout .video-card {
      float: left; }
    .channel-browser .channel-list .channel-video-list.list-layout .video-card {
      margin: 0.5em 0; }

.video-card {
  border: 1px solid #CCCCCC;
  padding: 0.5em;
  margin: 0.5em; }

footer {
  padding: 1em;
  font-size: 85%; }
  footer p {
    margin: 0; }

body {
  background-color: #F1F1F1; }

header {
  background-color: #FFFFFF;
  border-bottom: 1px solid #CCCCCC; }

footer {
  background-color: #FFFFFF;
  border-top: 1px solid #CCCCCC; }

.channel-browser .channel-container {
  background-color: #FFFFFF;
  border: 1px solid #CCCCCC; }
  .channel-browser .channel-container:first-child {
    border-top-width: 0; }
  .channel-browser .channel-container:last-child {
    border-bottom-width: 0; }
.channel-browser .channel-info .channel-logo {
  background-color: #000000; }
