<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
		<head>
				<meta charset="utf-8">
				<meta http-equiv="X-UA-Compatible" content="IE=edge">
				<title>Vimeo • Sample</title>
				<meta name="description" content="">
				<meta name="viewport" content="width=device-width, initial-scale=1">

				<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css">
				<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
				<link rel="stylesheet" href="css/base.css">
		</head>
		<body id="vimeo_sample">
				<!--[if lt IE 7]>
						<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
				<![endif]-->







				<header>
					<h1>Vimeo • Sample</h1> 
					<div class="channel-select-container">
						<label for="channel_select">Select Channel:</label>
						<select id="vimeo_channel_select"></select>
					</div>
				</header>

					
					<section class="channel-browser" id="vimeo_channel_browser">
					
						<section class="channel-container channel-info" >
							<div class="channel-logo channel-image">
								<div class="logo-container"></div>
								<a href="#" class="channel-rss"><i class="rss-sm fa fa-rss"></i><i class="rss-lg fa fa-2x fa-rss"></i></a>
							</div>
							<h2 class="channel-title"></h2>

							<div class="channel-toolbar">
								<button class="show-details details-hidden"><span class="show-message">Show Details</span><span class="hide-message">Hide Details</span></button>
							</div>

							<section class="channel-details is-hidden">
								<hr>
								<div class="channel-stats">
									<span title="Videos" class="channel-vids-wrapper">
										<i class="fa fa-video-camera"></i> <span class="channel-vids"></span>
									</span>
									<span title="Subscribers"class="channel-subs-wrapper">
										<i class="fa fa-newspaper-o"></i> <span class="channel-subscribers"></span>
									</span>
								</div>
								<p class="channel-description"></p>
								<p>Created on <span class="channel-createdDate"></span> by <a href="#" class="channel-creator"></a></p>
							</section>


						</section>

						<section class="channel-container channel-list" id="channel_list">
							
							<div class="channel-list-header">
								
								<h2 class="channel-list-title">Videos</h2>


								<div class="channel-list-layout " id="layout_toggle">

									<label for="channel-layout-toggle" >Layout: </label>
									<div id="channel-layout-toggle" class="channel-layout-toggle">
										<input id="layout_list" name="layout" type="radio">
										<label for="layout_list">List</label>

										<input id="layout_grid" name="layout" type="radio" checked="true">
										<label for="layout_grid">Grid</label>
									</div>

								</div>

							</div>
							

							<ul class="channel-video-list" id="video_list">
								
							</ul>

							<button class="video-pager"><span class="load-message">Load More Videos</span><span class="limit-message">API Limit Reached</span></button>

						</section>

				</section>


				<footer id="info">
					<p>Created by <a href="http://tylerchadwick.com">Tyler Chadwick</a></p>
				</footer>



				<script type="text/template" id="video_template">
					<div class="video-wrapper">
						<div class="video-thumbnail">
							<a href="<%- url %>">
								<img src="<%- thumbnail_medium %>" alt="" class="video-image"/>
								<span class="video-duration"><%- duration_string %></span>
							</a>
						</div>
						<p class="video-content">
							<span class="video-title"><%- title %></span> •
							<a href="<%- user_url %>" class="video-author"><%- user_name %></a> •
							<span class="video-created"><%- time_ago %></span>
						</p>
						<div class="video-details">
							<p class="video-description"><%- description %></p>
							<div class="video-stats">
								<% if (typeof(stats_number_of_likes) !== "undefined") { %>
									<span title="Likes" class="likes-container"><i class="fa fa-heart"></i> <%- stats_number_of_likes %></span>
								<% } %>
								<% if (typeof(stats_number_of_plays) !== "undefined") { %>
									<span title="Plays" class="views-container"><i class="fa fa-eye"></i> <%- stats_number_of_plays %></span>
								<% } %>
								<% if (typeof(stats_number_of_comments) !== "undefined") { %>
									<span title="Comments" class="comments-container"><i class="fa fa-comments"></i> <%- stats_number_of_comments %></span>
								<% } %>
							</div>
						</div>
					</div>
				</script>




				<script src="https://code.jquery.com/jquery-1.11.2.min.js"></script>
				<script src="http://underscorejs.org/underscore-min.js"></script>
				<script src="http://backbonejs.org/backbone-min.js"></script>

				<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment.min.js"></script>

				<script src="js/models.js"></script>
				<script src="js/collections.js"></script>
				<script src="js/views.js"></script>
				<script src="js/app.js"></script>
		</body>
</html>