<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
		<head>
				<meta charset="utf-8">
				<meta http-equiv="X-UA-Compatible" content="IE=edge">
				<title>Vimeo • Sample</title>
				<meta name="description" content="">
				<meta name="viewport" content="width=device-width, initial-scale=1">

				<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css">
				<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
				<link rel="stylesheet" href="css/base.css">
		</head>
		<body id="vimeo_sample">
				<!--[if lt IE 7]>
						<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
				<![endif]-->







				<header>
					<h1>Vimeo • Sample</h1> <label for="channel_select">Select Channel:</label><select id="channel_select"></select>
				</header>

					
					<section class="channel-browser" id="channel_browser">
					
						<section class="channel-container channel-info" id="channel_info">
							<div class="channel-logo" id="channel_image"></div>
							<h2 class="channel-title" id="channel_title"></h2>

							<div class="channel-links" id="channel_links"></div>
							<div class="channel-stats" id="channel_stats"></div>
						</section>

						<section class="channel-container channel-list" id="channel_list">

							<h2 class="channel-list-title">Videos</h2>

							<div class="channel-list-layout" id="layout_toggle">

								<input id="layout_list" name="layout" type="radio">
								<label for="layout_list">List</label>

								<input id="layout_grid" name="layout" type="radio">
								<label for="layout_grid">Grid</label>

							</div>

							<ul class="channel-video-list" id="video_list">
								
							</ul>

							<button id="video_pager">Load more videos</button>

						</section>

				</section>


				<footer id="info">
					<p>Created by <a href="http://tylerchadwick.com">Tyler Chadwick</a></p>
				</footer>



				<script type="text/template" id="video_template">
					<div class="video-wrapper">
						<div class="video-thumbnail">
							<a href="<%- url %>">
								<img src="<%- thumbnail_medium %>" alt="" class="video-image"/>
								<span class="video-duration"><%- duration %></span>
							</a>
						</div>
						<div class="video-content">
							<span class="video-title"><%- title %></span>•
							<span class="video-author"><%- user_name %></span>•
							<span class="video-created"><%- time_ago %></span>
						</div>
					</div>
				</script>




				<script src="https://code.jquery.com/jquery-1.11.2.min.js"></script>
				<script src="http://underscorejs.org/underscore-min.js"></script>
				<script src="http://backbonejs.org/backbone-min.js"></script>
				<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment.min.js"></script>

				<script src="js/models.js"></script>
				<script src="js/collections.js"></script>
				<script src="js/views.js"></script>
				<script src="js/app.js"></script>
		</body>
</html>